body{
    margin-left: 15px;
    margin-right: 15px;
    
}
.aaa{
    border-top: 10px;
    border: 1px solid rgb(253, 253, 253);
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
    background-image:url("Sunrise.jpg") ;
    background-repeat: repeat-x repeat-y;
    height: 750px;
    
}

.flex-container8{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    height: 50px;
    padding-top: 0px;
}

.circle{
    border-radius: 100%;
   width: 10%;
   
}

.flex-item{
  text-align: center;
  width: 100%;
  color: white;
  text-decoration: none;
  flex-shrink: 3;
  overflow: hidden;
  height: 100%;
  font-weight: 200;
  padding-top: 15px;
}

#f{
    
    background-color:#4267B2;
}
#t{
    background-color: 	#1DA1F2;
}
#i{
    background-color: #9c1468;
}
#d{
    background-color: #ff8833 ;
}
#p{
    background-color:#E60023 ;
}


p{
    text-align:center;
    font-weight: bold;
    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 200px;
    padding-left: 200px;
    font-style: italic;
    margin: 0px;
    /* padding-top: 50px;
    padding-bottom: 40px; */
    color: white;
    overflow: hidden;
}

.pa{
    text-align:center;
    font-size:x-small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 300px;
    padding-left: 300px;
    margin: 0px ;
    color: white;
    /* overflow: hidden; */
}
.pb{
    font-size: xx-small;
    margin: 0px;
    padding-top: 25px ;
    padding-bottom: 25px ;
    color: black;

}

.ha{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant-caps: all-petite-caps;
    margin: 0px;
    padding-bottom: 5px;
    color: white;
    padding-top: 5px;
}

.hb{
    font-size:small;
    font-style: italic;
    margin: 0px;
    color: white;
    
}

#icon1{
    color: grey;
   font-size: xx-large;
   padding-top: 20px;
   padding-right: 950px;
}

#icon2{
    color: grey;
   font-size: xx-large;
   padding-left: 950px;
}


.flex-container2{
    height: 20px;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 50px;
}

.img{
   margin: 4px;
    width: 50px;
    height: 25px;
    border-radius: 5px;
}

.dot7{
    height: 5px;
    width: 5px;
    background-color: #318ce7;
    border-radius: 50%;
    display: inline-block;
}
.dot8{
    height: 5px;
    width: 5px;
    background-color: #ff5252;
    border-radius: 50%;
    display: inline-block;
}
.dot9{
    height: 5px;
    width: 5px;
    background-color: #d6bb44;
    border-radius: 50%;
    display: inline-block;
}

.color{
    width:125px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#circle{
    color: rgb(44, 138, 201);
    padding-bottom: 20px;
}

#blankcircle{
    color: grey;
    padding-bottom: 20px;
}


.best{
    width: 100%;

}

#f,#t,#i,#d,#p:hover{
    color: white;
}
.flex{
    display: flex;
    justify-content: space-evenly;
    align-items:center ;
}

